<?php
$cfg['Servers'][$i]['host'] = '{{ phpmyadmin_db_host }}';
$cfg['Servers'][$i]['port'] = '3306';
$cfg['Servers'][$i]['user'] = '{{ phpmyadmin_db_user }}';
$cfg['Servers'][$i]['password'] = '{{ phpmyadmin_db_password }}';
$cfg['Servers'][$i]['auth_type'] = 'config';
?>

